.tabs {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "tablist"
    "tabpanel";
  border-radius: 8px 8px 0 0;
  --tab-color-white: #fff;
  --tab-color-gray-200: #f8f9fa;
  --tab-color-gray-500: #6c757d;
  --tab-color-primary: #0d6efd;
  --tab-color-black: #000;
}

div[role="tablist"] {
  grid-area: tablist;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

div[role="tablist"] > button[role="tab"] {
  background-color: #ffff;
  padding: 14px 24px;
  border: none;
  color: var(--tab-color-gray-500);
  flex: 1;
  font-weight: 400;
}

div[role="tablist"]
  > button[role="tab"][aria-selected]:not([aria-selected="false"]) {
  color: var(--tab-color-black);
  position: relative;
  background-color: var(--tab-color-gray-200);
}

div[role="tablist"]
  > button[role="tab"][aria-selected]:not([aria-selected="false"])::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  margin-left: 10px;
  height: 2px;
  background: var(--tab-color-primary);
}

div[role="tabpanel"] {
  grid-area: tabpanel;
  padding-top: 0.5rem;
}

div[role="tabpanel"][aria-hidden]:not([aria-hidden="false"]) {
  display: none;
}
